{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"proseWrap": "always",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
